* {
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  margin: 5mm;
}

.d3-tip {
  line-height: 1;
  padding: 0.2em 0.4em;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  transform: translate(0.8em, 0);
  font-size: 0.75em;
}

.d3-tip h3 {
  font-weight: bold;
  font-size: 1.25em;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:before {
  box-sizing: border-box;
  display: inline;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: '\25BC';
  position: absolute;
  font-size: 1.5em;
  text-align: left;
  left: -0.72em;
  top: 0.45em;
  transform: scale(0.5) rotate(90deg);
}

#slider-container {
  margin: 1em 0;
}

#slider .noUi-connect {
  background: steelblue;
}

.histograms {
  display: grid;
  text-align: center;
  grid-template-columns: [left] 1fr [right] 1fr;
}

@media screen and (max-width: 800px) {
  .histograms {
    grid-template-columns: [left] 1fr;
  }
}

.histogram {
  place-self: stretch;
  padding: 1em;
}

.histogram svg {
  width: 100%;
}

.histogram h2 {
  text-align: left;
  padding-left: 1em;
}

.loader {
  position: absolute;
  top: 50%;
  left: calc(50% - 60px);
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid steelblue; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

.loading .loader {
  display: inherit;
}

.loading .histograms,
.loading footer,
.loading .message {
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#brand-checkboxes-wrapper {
  display: flex;
  justify-content: center;
}

#brand-checkboxes {
  columns: 10em 5;
}

#brands-area {
  text-align: center;
}

#brands-area h2 {
  margin: 0.5em;
}

.brand-checkbox-wrapper {
  text-align: left;
}

#brands-control {
  margin: 0.5em;
}

#brands-control p {
  display: inline-block;
  width: 10em;
}
